body {
	font-family: 'Fira Code', monospace;
}

#contact .col-4 img{
	width: 80% !important;
}



.row {
	padding: 10px;
}

@media only screen and (max-width: 1024px) {
	.col-12 {
		margin-top: 20px;
	}
}
article.nav {
	padding: 10px;

}
@media only screen and (max-width: 1024px) {
	article.mobileintro {
		display: block;
		width: 100%;
		/*margin-left: 1px;*/
		padding: 10px;
		margin-bottom: 20px; 
	}
	article.mobileintro .row {
		height: 500px;
	}
	article.mobileintro h1 {
		font-size: 18pt;
	}
}

@media only screen and (min-width: 1025px) {
	article.mobileintro {
		display: none;
	}

}

#projects a {
	text-decoration: none;
	color: black;
}
#projects a:hover {
	color: gray;
	transition: .5s;
}


#projects .btn {
	margin-top: 30px;
	color: white;
}
#contact {
	height: 100%;
}

#skills {
	height: 100%;
}

.nav.row {
	border: none;
}

#skills img {
	width: 90%;
}
@media only screen and (max-width: 980px) {
	#skills img {
		width: 60%;
		margin-top: 40px;
	}
}
#skills img:hover {
	transition: 0.3s;
	opacity: 0.7;
}

h1.name {
	font-size: 26pt;
	font-weight: bold;
}

h2 {
	font-size: 18pt;
	text-transform: uppercase;

}

.btn.btn-primary {
	background-color: black;
	border: none;
	text-transform: lowercase; 
}
.btn:hover{
	transition: 0.6s;
	opacity: 0.7;
}

img {
	width: 100%;
}
@media only screen and (max-width: 780px) {
	.card {
		margin-top: 20px;
	}
}

.rowborder {
	border: 3px solid black;
	margin-left: 1px;
	min-height: 20px;
	/*margin-right: 1px;*/
	/*height: 300px;*/

}